# OPENROUTESERVICE API configuration
OPENROUTESERVICE_API_KEY=your_api_key
OPENROUTESERVICE_API_URL=https://api.openrouteservice.org/v2/matrix

# PREDICTIF API URLs
PREDICTIF_EMERGENCY_DEPTS=https://predictif.emergency/depts
PREDICTIF_EMERGENCY_INFLUXES=https://predictif.emergency/depts/influxes?id.in=